@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url(background.jpg)  !important; /* #578BF2 */
  background-size: 80%;
  background-attachment: fixed;
  backdrop-filter: blur(10px) !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

nav {
  display: flex;
  justify-content: right; /* au bord à droite */
  gap: 1em;
  padding: 1em 2em;
  background-color: #c5d0d9b6 !important;
}

footer {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em 2em;
  
  position: bottom;
}

a {/* modif de couleur des textes nav */
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {/* modif de couleur des textes nav au survol */
  color: #c5d0d9b6;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-items: stretch;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #034960;/* texte du corps*/
    background-color: #ffffff ;
  }
  a:hover {
    color: #ffffff; /* couleur du texte du nav au survol */
  }
  button {
    background-color: #53b8b8 ;/* couleur des bouton dans le corps */
    
  }
}
